/* Navigation in large view */
.navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background: none;
}

header {
    padding: 0;
}

#menu {
    display: none;
}

/* Grid: more columns */
.gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
